
.title_div{
    text-align: center;
    font-size: 20px;
    color: #25b7d3;
}

.main_form{
    margin: 0 auto;
    width: 600px;
    border-radius: 12px;
    height: 450px;
    text-align: center;
    border: 2px solid #25b7d3;
    background-color: #e8fbff;
}

.name{
    margin-top: 10px;
}

.text_div{
    margin-top: 30px;
}

.submit_btn{

    border: 2px solid #25b7d3;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    font-size: 20px;
    transition: all 0.5s;
    font-family: 'Oswald', sans-serif;
}


.submit_btn:hover{
    background-color: #25b7d3;
    color: white;
}